extends ../layouts/default

block head
	//- Google fonts
	link(href='http://fonts.googleapis.com/css?family=Voces|Overlock|Poiret+One|Comfortaa', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Raleway:400,700|Open+Sans:400italic,400,700|Roboto:400,400italic,700,700italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')
		
block content
	section.landing1
		h1.text-center Salut, eu sunt Lucian
		//- .container
			//- section


			//- //-: .jumbotron
			//- //- img(src='/images/logo.svg', width='160')
			//- h1 Salut,
			//- p 
			//- p It includes the latest versions of
			//- 	| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			//- 	| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
			//- p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
			//- hr
			//- if user && user.canAccessKeystone
			//- 	p
			//- 		a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
			//- else
			//- 	p We have created a default Admin user for you with the email <strong>darcu.ro@gmail.com</strong> and the password <strong>merlin54</strong>.
			//- 	p
			//- 		a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
			//- 		|  to use the Admin UI.
			//- hr
			//- p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			//- 	| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
