// @bgColor		: #F8F3E8;
@bgColor		: #fefefe;
@linkColor		: @bgHighlight;

/* navbar */

@bgDefault      : rgba(17, 22, 59, 0.8);
@bgHighlight    : rgba(21, 47, 100, 0.8);
@colDefault     : #D1E9EE;
@colHighlight   : #FFF;
@dropDown       : false;
.ddm() when (@dropDown) {
  > .dropdown-menu {
    background-color: @bgDefault;
    > li > a {
      color: @colDefault;
      &:hover,  &:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    .divider {
      background-color: @bgHighlight; }}}
.navbar-default {
  background-color: @bgDefault;
  border-color: @bgHighlight;
  .navbar-brand {
    color: @colDefault;
    &.active {
    	color: @colHighlight;
    	background-color: @bgHighlight; }
    &:hover, &:focus { 
      color: @colHighlight; }}
  .navbar-text {
    color: @colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: @colDefault;
        &:hover,  &:focus {
          color: @colHighlight; }}
      .ddm }
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
  .navbar-toggle {
    border-color: @bgHighlight;
    &:hover, &:focus {
      background-color: @bgHighlight; }
    .icon-bar {
      background-color: @colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @colDefault; }
  .navbar-link {
    color: @colDefault;
    &:hover {
      color: @colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: @colDefault;
      &:hover, &:focus {
        color: @colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
}

/* button */
.btn {
  // .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  .button-variant(@colHighlight; @bgHighlight; @bgDefault);
}

/* custom shit */
// http://www.colourlovers.com/palette/3688853/Timid_Spring

#header {
	height: 50px;
}

#body {
	background-color: @bgColor;

	a {
		color: @linkColor;
	}
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

// .gallery-image img{
//     display: block;
//     max-width: 100%;
//     height: auto;
// }

#footer {
	font-size: 10px;
}
